body{
    text-align: center;
    background-color: black;
}
h1{
    font-size: 70px;
    color: rgb(192, 19, 192);
}
h2{
    font-size: 50px;
    color: blue;
}
img {
    border: 1px solid black;
    height: 600px;
    width: 900px;
    border: 2px solid white;
}
a{
    font-size: 40px;
    color: purple;
}
p{
    font-size: 35px;
    color: white;
}
time{
    font-size: 30px;
    color: red;
}